*{
    margin: 0;
    padding: 0;
}

/********************************
Estilizando formulários */

body {
    font-family: "Trebouchet MS", Helvetica, sans-serif;
}

fieldset {
    margin: 1em 0;
    padding: 1em;
    border: 1px solid #ccc;
    background: #f8f8f8;
}

legend {
    font-weight: bold;
}

label {
    display: block;
    cursor: pointer; /*Altera o cursor para uma mão apontando*/
}

input { /* [type="text"] [] seletor de atributo - neste caso apenas atributos com o type text serão selecionados*/
    width: 20em; 
}

textarea {
    width: 20em;
    height: 10em;
}

input.radio, input.checkbox, input.submit {
    width: auto;
}

.radio {
    margin-right: 1em;
}