* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #1e293b;
    height: 100vh;
    width: 100vh;
    padding: 10px;
    display: flex;
    gap: 10px;

    justify-content: space-between;
    align-items: center;
}

.item {
    background-color: #7e22ce;
    margin: 10px;
    color: #fff;
    font-size: 22px;
    border-radius: 5px;
    width: 200px;
    height: 200px;
}

.item2 {
    align-self: flex-end;
}